.grid-image{
  display: flex;
  justify-content: center;
}
img {
  margin: 20px 0 20px;
  width: 50%;
  height: 450px;
}

.background_seoul{
  background-image: url("../images/city_korea.jpg");
  background-size: cover;
}

/* 스크롤바의 폭 너비 */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: rgb(118, 119, 121); /* 스크롤바 색상 */
  border-radius: 1px; /* 스크롤바 둥근 테두리 */
}

::-webkit-scrollbar-track {
  background: rgba(220, 20, 60, .1);  /*스크롤바 뒷 배경 색상*/
}