<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <title>레알 부동산 거래 조회 사이트</title>

  <!--부트스트랩 css 추가-->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/mainpage.css">
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?autoload=false&appkey=97fe312dfcd86517e6746bfd06e241c8"></script>
  <!--부트스트랩 js, jquery 추가-->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/map.js"></script>
  <script src="/js/util.js"></script>
</head>
<body class="background_seoul">
  <div>
    <div>
      <div class="container" >
        <div class="mt-4 mb-4 text-white">
          <h2>레알 부동산 거래 조회</h2>
        </div>
        <form action="/search" method = "post">
          <label class="text-white">주소를 입력하시면 각종 부동산 거래를 조회해드립니다.</label>
          <div class="row mb-2">
            <div class="col-10">
              <input type="text" class="form-control" id="address_kakao" name="address"
                     placeholder="시/군/구까지의 주소 혹은 도로명 주소를 입력해주세요" >
            </div>
            <div class="col-2 d-flex">
              <button type="submit" class="btn btn-primary" id="btn-save">검색</button>
            </div>
          </div>
        </form>
        <div style="height: 210px;" class="mb-3 list-group overflow-auto">
          <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
            The current link item
          </a>
          <a href="#" class="list-group-item list-group-item-action">A second link item</a>
          <a href="#" class="list-group-item list-group-item-action">A third link item</a>
          <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
          <a href="#" class="list-group-item list-group-item-action">A fifth link item</a>
        </div>
        <div id="map" style="width:100%;height:500px;"/>
      </div>
      <div th:replace="/footer :: footer"></div>
    </div>
  </div>
</body>
</html>